# Byte-compiled / cache files
__pycache__/
*.py[cod]

# SQLite database
db.sqlite3

# Virtual environment
myven/
venv/
.env/

# Django media/static (optional if you generate locally)
media/
staticfiles/
